{% extends "layout.jinja2" %}

{% block navigation %}
<ul id="navmenu">
</ul>
{% endblock %}

{% block navigationleft %}
{{ex}}
<h2>Главное меню:</h2>
<ul id="leftnavmenu">
  {% for item in mainmenulist.keys() %}
  <li><a href="{{mainmenulist[item]}}">{{item}}</a></li>
  {% endfor %}
</ul>
{% endblock %}

{% block content %}

<H1>Новости по разделу: <b>{{category}}</b></H1>

{% for news in pages %}
<h2>{{news.title}}</h2>
<h3>{{news.data}}</h3>
<h4>{{news.timestamp}}</h4>
<hr>
<br>

{% endfor %}

{% endblock %}